[Unit]
Description=Trigger automated cleanup task
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker container prune --force --filter "until=5m"
TimeoutStartSec=5min

[Install]
WantedBy=multi-user.target
